html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 25px;
}

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
